.side
  .side-header
    .side-header__box
      %p.side-header__box__user
        = current_user.name
      %ul.side-header__box__icon
        %li.side-header__box__icon__edit
        = link_to new_group_path, class: 'side-header__box__icon__edit fa-inverse' do
          %i.fa.fa-edit
        %li.side-header__box__icon__entry
        = link_to edit_user_path(current_user), class: 'side-header__box__icon__entry fa-inverse' do
          %i.fa.fa-cog
  .side-groups
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .side-groups__name
            = group.name
          .side-groups__message
            メッセージはまだありません。


